.searchInputs1 {
    margin-top: 105px;
    display: flex;
}

.search1{
    position: absolute;
    top: -85px;
    left: 35%;
    width: 20vw;
}

.search1 input {
    background-color: beige;
    border: 0;
    border-radius: 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 18px;
    padding: 15px;
    height: 60px;
    width: 300px;
    /* margin-left: 200px;
    margin-top: -117px; */
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: #fff;
    display: grid;
    place-items: center;
    border-bottom-right-radius: 30px;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    margin-top: 5px;
    width: 243px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 22px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.dataItem p {
    margin-left: 10px;
}

a{
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}