.banner {
    background: url("https://media.cntraveler.com/photos/5d112d50c4d7bd806dbc00a4/3:2/w_2250,h_1500,c_limit/airbnb%20luxe.jpg") center center;
    height: 83vh;
    background-size: 100% 100%;
    position: relative;
    margin-top: 80px;
  }
  
  .banner__info {
      background-color: black;
      color: white;
      padding-top: 5vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 114px;
      width: 300px;
  }
  
  .banner__search {
      display: flex;
      flex-direction: column;
  }
  
  .banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
  }
  
  .banner__info > button {
      background-color: #ff7779;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .banner__info > button:hover {
      background-color: white;
      color: #ff7779;
    }
    
  
  .banner__info > h5 {
      margin-top: 10px;
  }